.news-section{
    padding: 50px 0;
    .news-item{
       
        h2{
            a{
                color:$body-color;
                line-height: 4rem;
                display: block;
                text-decoration: none;
            }
        }
        .news-item-description{
            line-height: 2.5rem;
            height: 7.5rem;
            overflow: hidden;
        }
        .read-m{
            font-weight: $font-weight-medium;
        }
        a.holder{
            overflow: hidden;
            img{
                transition:all 0.5s linear;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
.news-page-section{
    padding: 50px 0;
    .news-item-date{
            a{
                line-height: 2.7rem !important;
                text-decoration: none !important;
            }
        }
    p.lead-section-description{
        line-height: 2.5rem;
        height: 7.5rem;
        overflow: hidden;
    }
    h1{
        font-size: 3.6rem;
        line-height: 4.6rem;
        margin-bottom: 1.5rem;
    }
    
}
.news-single-content{
    padding: 50px 0;
    p{
        margin-bottom: 18px;
    }
    img{
        margin-bottom: 24px;
        width: 100%;
    }
}
.tag-title{
    font-weight: $font-weight-medium;
}

@media(min-width:992px){
    .news-section{
        
        padding: 114px 0 42px;
        .news-item{
        padding-bottom: 91px;
        h2{
            a{
                line-height: 4.6rem;
            }
        }
        }
    }
    .news-page-section{
    padding: 114px 0;
    }
    .news-single-content{
    padding: 107px 0;
}
}
